<figure class="figure">
    <img src="../../../assets/images/actor1.jpeg" 
        class="figure-img img-fluid rounded img-thumbnail" 
        alt="..."
        style="max-width: 250px;">
    <figcaption class="figure-caption">Tom Cruise.</figcaption>
    <figcaption class="figure-caption">(Knuckles)</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../../assets/images/actor1.jpeg" 
        class="figure-img img-fluid rounded img-thumbnail" 
        alt="..."
        style="max-width: 250px;">
    <figcaption class="figure-caption">Tom Cruise.</figcaption>
    <figcaption class="figure-caption">(Knuckles)</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../../assets/images/actor1.jpeg" 
        class="figure-img img-fluid rounded img-thumbnail" 
        alt="..."
        style="max-width: 250px;">
    <figcaption class="figure-caption">Tom Cruise.</figcaption>
    <figcaption class="figure-caption">(Knuckles)</figcaption>
  </figure>

  <figure class="figure">
    <img src="../../../assets/images/actor1.jpeg" 
        class="figure-img img-fluid rounded img-thumbnail" 
        alt="..."
        style="max-width: 250px;">
    <figcaption class="figure-caption">Tom Cruise.</figcaption>
    <figcaption class="figure-caption">(Knuckles)</figcaption>
  </figure>
  
  <figure class="figure">
    <img src="../../../assets/images/actor1.jpeg" 
        class="figure-img img-fluid rounded img-thumbnail" 
        alt="..."
        style="max-width: 250px;">
    <figcaption class="figure-caption">Tom Cruise.</figcaption>
    <figcaption class="figure-caption">(Knuckles)</figcaption>
  </figure>
  